.footer {
  padding: 50px 0 20px;
  border-top: 1px solid rgba(227, 227, 227, 1);
  &-logoBx {
    width: 100%;
    max-width: 100%;
  }

  &-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    &-socials {
      display: flex;
      gap: 8px;
    }

    &-main {
      display: flex;
      gap: 8px;
    }

    &__item {
      background: rgba(244, 247, 249, 1);
      border-radius: 200px;
      padding: 8px 14px;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .4s $--transition;
      border: 1px solid transparent;
      &:hover {
        border-color: $--grey-hover;
      }
      &.circle {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
      }

      &.email {
        &:before {
          content: '';
          display: block;
          width: 18px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.3926 15.0719C16.7973 15.0719 17.1478 14.9383 17.4459 14.6745L12.3462 9.57461C12.2238 9.66223 12.1053 9.74743 11.9932 9.82844C11.6116 10.1096 11.3018 10.329 11.064 10.4863C10.8262 10.6438 10.5098 10.8045 10.1148 10.9685C9.71958 11.1326 9.35137 11.2145 9.0098 11.2145H8.9998H8.9898C8.6482 11.2145 8.27999 11.1327 7.88479 10.9685C7.48959 10.8045 7.17318 10.6438 6.9356 10.4863C6.69779 10.329 6.38821 10.1097 6.00637 9.82844C5.89997 9.75043 5.78196 9.66484 5.65438 9.57324L0.553711 14.6745C0.85172 14.9383 1.20254 15.0719 1.60712 15.0719H16.3926Z' fill='rgba(73, 165, 249, 1)' /%3e%3cpath d='M1.01462 6.36325C0.633012 6.10884 0.294611 5.81746 0 5.48926V13.2483L4.49484 8.75347C3.59562 8.12569 2.43702 7.32986 1.01462 6.36325Z' fill='rgba(73, 165, 249, 1)' /%3e%3cpath d='M16.9954 6.36325C15.6273 7.28927 14.4645 8.08647 13.5068 8.75527L17.9999 13.2485V5.48926C17.7118 5.81086 17.377 6.10204 16.9954 6.36325Z' fill='rgba(73, 165, 249, 1)' /%3e%3cpath d='M16.3945 0.928711H1.60899C1.09317 0.928711 0.6966 1.1029 0.418787 1.4509C0.140745 1.79908 0.00195312 2.23451 0.00195312 2.7567C0.00195312 3.1785 0.186138 3.63553 0.554344 4.12792C0.92255 4.62012 1.31435 5.00672 1.72955 5.28793C1.95717 5.44875 2.64358 5.92594 3.78878 6.71935C4.40699 7.14775 4.94461 7.52115 5.40661 7.84338C5.8004 8.11776 6.14002 8.35538 6.42041 8.55257C6.4526 8.57515 6.50322 8.61136 6.57041 8.6594C6.6428 8.71139 6.7344 8.77737 6.84741 8.85898C7.06502 9.01636 7.24581 9.14359 7.3898 9.24078C7.53359 9.338 7.70781 9.4466 7.91219 9.56718C8.11641 9.68761 8.30902 9.77817 8.48981 9.8384C8.67063 9.89859 8.83801 9.92879 8.992 9.92879H9.002H9.012C9.16596 9.92879 9.33338 9.89859 9.51423 9.8384C9.69498 9.77817 9.88743 9.68781 10.0918 9.56718C10.296 9.4466 10.47 9.33777 10.6142 9.24078C10.7582 9.14359 10.939 9.0164 11.1567 8.85898C11.2694 8.77737 11.361 8.71136 11.4334 8.65956C11.5007 8.61133 11.5512 8.57535 11.5836 8.55257C11.8021 8.40057 12.1425 8.16394 12.6001 7.84616C13.4329 7.26756 14.6593 6.41595 16.2845 5.28793C16.7733 4.94652 17.1817 4.53453 17.5099 4.05253C17.8375 3.57053 18.0018 3.06494 18.0018 2.53591C18.0018 2.09392 17.8425 1.71571 17.5247 1.40071C17.2065 1.0861 16.8298 0.928711 16.3945 0.928711Z' fill='rgba(73, 165, 249, 1)' /%3e%3c/svg%3e");
          margin-right: 8px;
        }
      }
      &.phone {
        &:before {
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.138 11.2603C14.4875 10.6181 13.6753 10.6181 13.029 11.2603C12.5359 11.7492 12.0428 12.2381 11.558 12.7353C11.4255 12.8721 11.3136 12.9011 11.152 12.8099C10.8329 12.6359 10.4932 12.495 10.1866 12.3044C8.75708 11.4053 7.55963 10.2493 6.49891 8.94825C5.97269 8.30188 5.50449 7.60993 5.17715 6.83096C5.11086 6.67351 5.12329 6.56993 5.25174 6.44148C5.7448 5.96499 6.22544 5.47606 6.71023 4.98714C7.38561 4.30761 7.38561 3.51208 6.70608 2.82841C6.32074 2.43893 5.9354 2.05773 5.55006 1.66825C5.15229 1.27048 4.75867 0.868568 4.35675 0.474942C3.70623 -0.159003 2.89412 -0.159003 2.24774 0.479085C1.75053 0.96801 1.27404 1.46936 0.768536 1.95C0.300327 2.39335 0.0641513 2.93614 0.01443 3.57008C-0.0642953 4.6018 0.188454 5.5755 0.54479 6.52435C1.27404 8.48833 2.38448 10.2327 3.73109 11.8321C5.55006 13.995 7.72122 15.7062 10.2612 16.9409C11.4047 17.4961 12.5898 17.9229 13.8784 17.9934C14.7651 18.0431 15.5357 17.8193 16.1531 17.1274C16.5758 16.655 17.0522 16.2241 17.4997 15.7725C18.1627 15.1012 18.1668 14.2891 17.508 13.6262C16.7208 12.8348 15.9294 12.0475 15.138 11.2603Z' fill='rgba(73, 165, 249, 1)' /%3e%3c/svg%3e");
          margin-right: 8px;
        }
      }
      &.vk {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.8727 11.8225C23.8437 11.7627 23.8166 11.713 23.7914 11.6732C23.375 10.9562 22.5793 10.0762 21.4047 9.03286L21.3799 9.00897L21.3675 8.99725L21.3549 8.98524H21.3423C20.8092 8.49941 20.4716 8.17275 20.3303 8.00551C20.0716 7.68692 20.0137 7.36444 20.155 7.03769C20.2549 6.79082 20.6301 6.26947 21.2797 5.47292C21.6213 5.05077 21.892 4.71243 22.0918 4.45753C23.5331 2.62567 24.1579 1.45509 23.9662 0.945328L23.8918 0.826203C23.8418 0.754485 23.7127 0.688876 23.5046 0.629041C23.2961 0.569332 23.0296 0.559458 22.7047 0.59925L19.106 0.623016C19.0477 0.603267 18.9644 0.605108 18.856 0.629041C18.7477 0.652975 18.6935 0.664984 18.6935 0.664984L18.6308 0.694901L18.5811 0.730844C18.5395 0.75461 18.4936 0.796411 18.4436 0.856162C18.3938 0.915703 18.3522 0.98558 18.319 1.06521C17.9272 2.02888 17.4817 2.92485 16.9817 3.75307C16.6735 4.24694 16.3904 4.67494 16.1319 5.03734C15.8737 5.39961 15.6571 5.66652 15.4823 5.83761C15.3072 6.00887 15.1492 6.14608 15.0073 6.24972C14.8657 6.3534 14.7575 6.39721 14.6826 6.38119C14.6076 6.36516 14.5369 6.34926 14.47 6.33336C14.3534 6.26164 14.2597 6.16411 14.189 6.04067C14.118 5.91724 14.0702 5.76188 14.0452 5.57472C14.0203 5.38743 14.0056 5.22634 14.0014 5.0909C13.9975 4.95562 13.9993 4.76428 14.0078 4.51741C14.0164 4.27041 14.0203 4.10329 14.0203 4.01567C14.0203 3.71299 14.0265 3.38448 14.0389 3.03008C14.0515 2.67567 14.0617 2.39487 14.0702 2.188C14.0787 1.98092 14.0827 1.76184 14.0827 1.53087C14.0827 1.2999 14.068 1.11876 14.0389 0.987295C14.0102 0.855994 13.9661 0.728543 13.908 0.604982C13.8496 0.481547 13.7641 0.386063 13.6519 0.318279C13.5394 0.250578 13.3996 0.196852 13.2333 0.156935C12.7917 0.0614087 12.2294 0.00973352 11.5462 0.00169979C9.99681 -0.0142003 9.00124 0.0814511 8.55972 0.288529C8.38478 0.376021 8.22648 0.495564 8.08494 0.646782C7.93495 0.82206 7.91402 0.917712 8.0223 0.933445C8.52221 1.00504 8.87611 1.1763 9.0844 1.44706L9.15946 1.59054C9.21784 1.69405 9.27614 1.87732 9.33448 2.14009C9.39273 2.40286 9.43033 2.69354 9.44687 3.01196C9.48845 3.59344 9.48845 4.0912 9.44687 4.50527C9.40516 4.91951 9.36577 5.24199 9.32818 5.47296C9.29058 5.70393 9.23439 5.89109 9.15946 6.0344C9.0844 6.17775 9.03446 6.26537 9.00942 6.29717C8.98443 6.32897 8.9636 6.34901 8.94706 6.35688C8.83878 6.39654 8.72616 6.41675 8.60961 6.41675C8.49289 6.41675 8.35134 6.36094 8.18477 6.24938C8.01823 6.13783 7.8454 5.98461 7.66626 5.78945C7.48712 5.59426 7.28509 5.32149 7.06009 4.9711C6.83526 4.62071 6.60198 4.2066 6.36039 3.72876L6.1605 3.38222C6.03555 3.15929 5.86486 2.83468 5.64825 2.40868C5.43152 1.98251 5.23995 1.57028 5.07342 1.17207C5.00685 1.00483 4.90684 0.877501 4.77357 0.789884L4.71103 0.753941C4.66945 0.722141 4.60271 0.688374 4.51115 0.652389C4.41945 0.616447 4.32378 0.590672 4.22373 0.574814L0.799884 0.59858C0.450012 0.59858 0.21262 0.674357 0.0876214 0.8257L0.0375958 0.897292C0.0126049 0.937168 0 1.00085 0 1.08851C0 1.17613 0.0249909 1.28366 0.0750165 1.41099C0.574835 2.53404 1.11838 3.61713 1.70564 4.66042C2.29291 5.70372 2.80323 6.54412 3.2363 7.18088C3.66946 7.81809 4.11098 8.41949 4.56086 8.98478C5.01075 9.55028 5.30854 9.91268 5.45424 10.0719C5.60011 10.2314 5.71469 10.3506 5.79798 10.4303L6.11043 10.7169C6.31036 10.9081 6.60395 11.1371 6.99133 11.4038C7.3788 11.6707 7.80776 11.9335 8.27843 12.1925C8.74918 12.4512 9.29684 12.6622 9.9217 12.8254C10.5465 12.9888 11.1546 13.0544 11.7461 13.0228H13.1831C13.4746 12.9987 13.6954 12.9111 13.8455 12.7599L13.8952 12.7C13.9286 12.6525 13.9599 12.5786 13.9888 12.4792C14.018 12.3797 14.0326 12.27 14.0326 12.1507C14.024 11.8083 14.0513 11.4998 14.1136 11.225C14.1759 10.9504 14.2469 10.7433 14.3263 10.6038C14.4056 10.4645 14.4952 10.3469 14.5948 10.2516C14.6947 10.1561 14.7659 10.0982 14.8076 10.0783C14.8491 10.0582 14.8822 10.0446 14.9072 10.0365C15.1072 9.97281 15.3425 10.0345 15.6135 10.2218C15.8842 10.409 16.1382 10.6401 16.3758 10.9147C16.6132 11.1896 16.8985 11.498 17.2317 11.8404C17.565 12.183 17.8565 12.4376 18.1063 12.6051L18.3562 12.7484C18.523 12.8441 18.7396 12.9317 19.0062 13.0113C19.2724 13.0909 19.5056 13.1108 19.7058 13.071L22.9046 13.0233C23.221 13.0233 23.4672 12.9732 23.6418 12.8739C23.8168 12.7743 23.9207 12.6646 23.9543 12.5454C23.9877 12.4259 23.9895 12.2905 23.9606 12.139C23.931 11.9879 23.9018 11.8822 23.8727 11.8225Z' fill='rgba(73, 165, 249, 1)' /%3e%3c/svg%3e");
      }
      &.inst {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 0C2.23858 0 0 2.23858 0 5V13C0 15.7614 2.23858 18 5 18H13C15.7614 18 18 15.7614 18 13V5C18 2.23858 15.7614 0 13 0H5ZM12 6C12.8284 6 13.5 5.32843 13.5 4.5C13.5 3.67157 12.8284 3 12 3C11.1716 3 10.5 3.67157 10.5 4.5C10.5 5.32843 11.1716 6 12 6Z' fill='rgba(73, 165, 249, 1)' /%3e%3c/svg%3e");
      }
      &.youtube {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.8078 0H5.19218C2.32462 0 0 2.36527 0 5.28298V12.717C0 15.6347 2.32462 18 5.19218 18H19.8078C22.6754 18 25 15.6347 25 12.717V5.28298C25 2.36527 22.6754 0 19.8078 0ZM16.2964 9.36169L9.46017 12.6792C9.27802 12.7676 9.06761 12.6324 9.06761 12.4271V5.5848C9.06761 5.37656 9.28355 5.24159 9.46609 5.33573L16.3023 8.86056C16.5056 8.96535 16.502 9.26193 16.2964 9.36169Z' fill='rgba(73, 165, 249, 1)' /%3e%3c/svg%3e");
      }
      &.tg {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.06333 9.88598L6.76556 14.074C7.19159 14.074 7.3761 13.891 7.59736 13.6712L9.59474 11.7625L13.7335 14.7932C14.4925 15.2162 15.0273 14.9935 15.2321 14.095L17.9488 1.36598C18.1895 0.243981 17.5437 -0.195519 16.8042 0.0797307L0.835686 6.19298C-0.254133 6.61598 -0.237632 7.22348 0.650425 7.49873L4.73293 8.76848L14.2158 2.83523C14.6621 2.53973 15.0678 2.70323 14.7341 2.99873L7.06333 9.88598Z' fill='rgba(73, 165, 249, 1)' /%3e%3c/svg%3e");
      }
      &.wa {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 18.0001L1.26062 13.5276C0.449967 12.1519 0.0231532 10.5867 0.0231532 8.97874C0.0231532 4.02784 4.05536 0 9.01161 0C13.9679 0 18 4.02784 18 8.97874C18 13.9296 13.9679 17.9575 9.01161 17.9575C7.46727 17.9575 5.95507 17.5626 4.61731 16.8128L0 18.0001ZM4.85336 15.1793L5.12849 15.3471C6.29486 16.0584 7.63765 16.4344 9.01161 16.4344C13.1271 16.4344 16.4753 13.0898 16.4753 8.97874C16.4753 4.86769 13.1271 1.52309 9.01161 1.52309C4.89611 1.52309 1.54789 4.86769 1.54789 8.97874C1.54789 10.4112 1.95545 11.8022 2.7264 13.0014L2.91169 13.2897L2.18574 15.8653L4.85336 15.1793Z' fill='%2335A747' /%3e%3cpath d='M6.48531 4.80039L5.90207 4.76863C5.71888 4.75865 5.53918 4.8198 5.40071 4.93995C5.11796 5.18523 4.66584 5.65942 4.52698 6.27734C4.3199 7.1987 4.63992 8.32692 5.4682 9.45513C6.29647 10.5833 7.84001 12.3885 10.5695 13.1595C11.449 13.4079 12.1409 13.2404 12.6747 12.8993C13.0975 12.6291 13.389 12.1955 13.494 11.7053L13.5872 11.2708C13.6167 11.1327 13.5465 10.9926 13.4181 10.9335L11.447 10.0259C11.319 9.967 11.1673 10.0042 11.0812 10.1156L10.3074 11.1177C10.2489 11.1934 10.1489 11.2234 10.0585 11.1917C9.52858 11.0057 7.75344 10.263 6.77942 8.38885C6.73718 8.30757 6.74768 8.2089 6.8076 8.13958L7.54715 7.28495C7.62271 7.19768 7.6418 7.07499 7.59639 6.96894L6.74672 4.98322C6.70149 4.87751 6.60012 4.80665 6.48531 4.80039Z' fill='%2335A747' /%3e%3c/svg%3e");
      }
    }
  }
  &-navBx {
    margin-top: 50px;
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &__link {
      font-size: 16px;
      color: $--text-grey;
      transition: .4s $--transition;
      &:hover {
        color: $--text-color;
      }
    }
  }
  &-requisites {
    margin-top: 33px;
    padding: 13px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-top: 1px solid rgba(227, 227, 227, 1);
    &__item {
      font-size: 12px;
      color: $--text-grey;
    }
    & a {
      text-decoration: underline;
    }
  }
  &-notice {
    color: $--text-grey;
    margin-top: 33px;
    text-align: center;
  }
  @include media(760) {
    &-media {
      margin-top: 32px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      grid-gap: 6px;
      display: grid;
      &-main {
        grid-row: 1;
      }
      &__item {
        &.email {
          padding: 12px 14px;
          max-width: 245px;
        }
      }
    }
    &-nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &-requisites {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;
    }
    &-notice {
      font-size: 12px;
      text-align: left;
    }
  }
}
